.logo-wrap {
  position: relative;
  width: 50%;
  max-width: 12.5rem;
  height: $logo-height;
  margin: 0 auto;

  @include respond-to($small) {
    float: left;
  }
  
}
.logo-link {
  display: block;
  text-indent: -9999px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.logo {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}